.tickerOptionsClass{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: auto;
}

.input-group {
    position: relative;
    display: flex;
    margin-bottom: 5px;
}

.dropbtn {
    background-color: #5ca73e;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    height: 35.75px;
    border-radius: 2.5px;
  }
  
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 6px 8px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.passRestrictions {
    font-size: 15px;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#message p {
    padding: 5px 17px;
    font-size: 10px;
}

.valid {
    color: green;
  }

.valid:before {
    position: relative;
    left: -35px;
}

.invalid {
    color: red;
  }
  
.invalid:before {
    position: relative;
    left: -35px;
}


#chart_div {
    margin-bottom: 10px;
}

.energyTable {
    height: auto;
}

.energyChart {
    width: 100%;
}



.predictChart{
    width: 800px;
    height: 540px;
}

.containerBlock{
    width: 740px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px #5ca73e;
    background: white;
    height: 540px;
    margin-bottom: 40px;

    align-items: center;
    justify-content: center;
    align-items: center;
}

.chartContainer{
    width: 700px;
    max-width: 700px;
    overflow-x: scroll;
    height: 500px;
}

#container {
    width: 100%;
    height: 700px;
}

.storyBlock{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    margin-bottom: 30px;
    padding: 1.15%;
    border: 3px solid;
    border-radius: 7px;
    border-color: #5ca73e;
    box-shadow: 6px 6px 4px #3e8e41;
}

.imgContainer{
    flex: 0 0 auto;
    margin-right: 10px;
}

.bannerImg{
    width: 100px;
    height: auto;
}

.textContainer{
    flex: 1 1 auto;
}

.containerBody {
    display: flex;
    flex-direction: row;
}

.tickerContainerClass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tickerNameClass {
    font-size: 120px;
    margin-right: 30px;
    margin-bottom: 300px;
}

.tickerInfoClass{
    font-size: 15px;
    margin-right: 100px;
    margin-top: 60px;
    padding: 1.15%;
    border: 3px solid;
    border-radius: 7px;
    border-color: #5ca73e;
    box-shadow: 10px 10px 5px #3e8e41;
}

.spanHome{
    display: flex;
    margin-top: auto;
    align-items: flex-end
}

.euLogo{
    width: 30px;
}

.welcomeDiv{
    margin-left: 380px;
    width: auto;
}

.welcomeName{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c8bfbf;
    white-space: nowrap;
}

.backImg{
    margin-left: 300px;
}

.w3-btn w3-green{
    margin: auto;
    display: block;
    position: relative;
    border-radius: 7px;
}

.saveButton, .unsaveButton{
    margin: auto;
    display: block;
    position: relative;
    border-radius: 7px;
    background-color: #4CAF50;
}

.form-group col-md-5{
    display: inline-block;
    position: relative;
    margin: auto;
    text-align: center;
}

.container {
    margin: auto;
    text-align: center;
}

.form-container {
    margin-top: 20px;
}

.signinBlock {
    margin: auto;
    margin-bottom: 50px;
    width: 40%;
    padding: 10px;
    border: 3px solid;
    border-radius: 7px;
    border-color: #5ca73e;
    box-shadow: 10px 10px 5px #3e8e41;
    width: 50%;
    display: block;
    position: relative;
    margin-top: 3%;
}

.registerBlock {
    margin: auto;
    margin-bottom: 50px;
    width: 40%;
    padding: 10px;
    border: 3px solid;
    border-radius: 7px;
    border-color: teal;
    box-shadow: 10px 10px 5px teal;
    width: 50%;
    display: block;
    position: relative;
    margin-top: 3%;
}

#divTickerSearch {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 10px;
    border: 3px solid;
    border-radius: 7px;
    border-color: #5ca73e;
    box-shadow: 10px 10px 5px #3e8e41;
}

.alignTop{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


#TickerSymbol{
    text-decoration: underline;
}

.form-group {
    display: inline;
    margin: 10px;
}

.btnSearch {
    margin-top: 32px;
    margin-bottom: 32px;
}

.tickerDiv{
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
}

table, th, td {
    border: 2.25px solid;
    border-radius: 7px;
    border-color: #5ca73e;
}

.tickerTable {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 397.43px;
    margin: auto;
    margin-bottom: 100px;
}
  
.tblTickers td, .tblTickers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.tblTickers tr:nth-child(even){background-color: #f2f2f2;}
  
.tblTickers tr:hover {background-color: #ddd;}
  
.tblTickers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.tickerDiv{
    display: block;
    margin: auto;
    height: 100px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 4px;
    overflow: hidden;
    background-color:#61b241;
    border-radius: 7px;
}

li {
    float: left;
}

li .menu {
    background-color: #61b241;
    border: 0cap;
    width: 97.7px;
    height: 46.4px;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .menu:hover:not(.active) {
    background-color:#5ca73e;
    border-radius: 7px;
}

.active {
    background-color: #5ca73e;
    border-radius: 7px;
}

.logo{
    display: block;
    position: relative;
    width: 100%;
}

.board {
    position: relative;
    text-align: center;
}


.passError{
    display: none;
    color: #f00;
}

.dash{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


.toggle{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.inner{
    display: inline-block;
}

.sbtnTogLogin, .sbtnTogRegister{
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #4caf4f8a;
  }
  
  .sbtnTogLogin:hover, .sbtnTogRegister:hover {background-color: #3e8e41}
  
  .sbtnTogLogin:active, .sbtnTogRegister:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

.logoImg{
    display: block;
    position: relative;
    width: 20%;
    margin-left: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
}

.logoImgv1{
    display: block;
    position: relative;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}