.tickerDiv{
    display: block;
    margin: auto;
    height: 100px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 12px;
    overflow: hidden;
    background-color:#61b241;
}

li {
    float: left;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:#5ca73e;
}

.active {
    background-color: #5ca73e;
}

.logo{
    display: block;
    position: relative;
    width: 100%;
}

.board {
    position: relative;
    text-align: center;
}


.passError{
    display: none;
    color: #f00;
}

.dash{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.w3-card-4{
    width: 50%;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 5%;
}

.toggle{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.inner{
    display: inline-block;
}

.sbtnTogLogin, .sbtnTogRegister{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .sbtnTogLogin:hover, .sbtnTogRegister:hover {background-color: #3e8e41}
  
  .sbtnTogLogin:active, .sbtnTogRegister:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

.logoImg{
    display: block;
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

