/*Vars*/ 
:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #118640;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/* Setup*/
body {
    /*background: var(--color-dark);*/
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Exo 2", sans-serif;
    background: rgb(63, 161, 251);
    background: linear-gradient(
        142deg,
        rgb(19, 241, 149) 0%,
        rgb(85, 70, 252) 100%);
}
html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }

/* Main styles*/
p {
    order: 2;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.75;
    margin-top: 0;
  }
  
  .fancy {
    position: relative;
    white-space: nowrap;
    &:after {
      --deco-height: 0.3125em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: calc(var(--deco-height) * -0.625);
      height: var(--deco-height);
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
  }
form {
    order: 1;
    margin-bottom: auto;
    align-self: center;
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}
input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}
input[type="search"] {
    align-items: center;
    outline: 1;
    outline-color: #57bd84;
    outline-style: ridge;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
button {
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}
input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
        display: block;
    }
}
label {
    align-items: center;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
