@{
    //ViewData["Title"] = "Dashboard";
    Layout = null;
    var userId = Context.Session.GetString("UserId");
    if (string.IsNullOrEmpty(userId))
    {
        // Redirects to login page if user not authenticated
        <script>
            window.location.href = '/Home/Login';
        </script>
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <title>Dashboard</title>

</head>
<body>
    <div id="divLogo" class="logo">
        <img id="imgLogo" src="~/images/logo.png" alt="Logo" class="logoImg">
    </div>

    <div id="divDashboard" class="dash">
        <form asp-controller="User" asp-action="Search" method="post">
            <div class="inner">
                <button id="dashSearch" type="submit" class="btnSearch"><i class="fa fa-search"></i> Search for a ticker</button>
            </div>
        </form>
        <div class="inner"><a href="saved_tickers.html"><button id="dashSaved" type="submit" class="btnSaved" asp-controller="User" asp-action="Search"><i class="fa fa-heart" aria-hidden="true"></i>Saved tickers</button></a></div>
        <div class="inner"><a href="view_region.html"><button id="dashRegion" type="submit" class="btnRegion" asp-controller="User" asp-action="Search"><i class="fa fa-globe"></i>View a region</button></a></div>
    </div>

    <script src="~/js/loginpage.js" asp-append-version="true"></script>
</body>
</html>
