@using WebMatrix.Data
@using System.Data.SqlClient
@using System.Configuration

@{
	// Use SqlConnectionStringBuilder to build the connection string
	SqlConnectionStringBuilder builder = new SqlConnectionStringBuilder();
	builder.DataSource = @"localhost\SQLEXPRESS01";
	builder.InitialCatalog = "master";
	builder.IntegratedSecurity = true;

	// Get the connection string from the builder
	string connectionString = builder.ToString();

	var db = Database.OpenConnectionString(connectionString, "System.Data.SqlClient");
	var selectQueryString = "SELECT * FROM historicalDataTest";
}
<html>
<body>
	<h1>Data Query</h1>
	<table>
		<tr>
			<th>Dates</th>
			<th>Symbol</th>
			<th>Closes</th>
		</tr>
		@foreach (var row in db.Query(selectQueryString))
		{
			<tr>
				<td>@row.Dates</td>
				<td>@row.Symbol</td>
				<td align="right">@row.Closes</td>
			</tr>
		}
	</table>
</body>
</html>
